/*
  Title: style.css
  Date: 1/26/21
  Purpose: To customize styles for the app.
*/

/* Body Styles */
body {
  background-attachment: fixed;
  background-image: url(WeatherBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  padding: 9.375rem;
}

/* H1 Styles */
h1 {
  color: white;
  text-align: center;
}

/* Searchbar Styles */
.searchbar{
  border-radius: 0.9375rem;
  display: block;
  margin: auto;
  padding: 0.3125rem;
  padding-left: 0.625;
  width: 25rem;
}

/* Formats weather info container */
.container {
  background-color: white;
  border-radius: 0.9375rem;
  display: block;
  margin: auto;
  margin-bottom: 1.5625rem;
  margin-top: 3.125rem;
  padding-bottom: 1.5625rem;
  text-align: center;
  width: 25rem;
}
